	<form action="/person/update/<%=person.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a person... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
		</div>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		<input type="submit" value="Update Person" class="btn btn-default"/>
		<a href="/person/show/<%=person.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	