<form action="/person/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2>Create a person</h2>

<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="name" name="name">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="password" class="form-control" placeholder="password" name="password">
	</div>
	
	</div>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	<input type="submit" value="Submit" class="btn btn-default"/> | 
	<a href="/person">Back to list</a>
</form>