<form class="show">
	<div class="form-group">
		<h2> a person... </h2>

		<div class="form-group" style="width: 400px;">
		<label>name</label>
		<input value="<%= person.name %>" name="name" type="text" class="form-control" disabled/>
		</div>
		
</div>
</div>
<a href="/person/edit/<%=person.id %>" class="btn btn-default">Edit</a> |
<a href="/person">Back to list</a>
</form>