<!DOCTYPE html>
<html>
  <head>
    <title>Bookkeeper.js</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/validator.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Bookkeeper.js</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/person">People</a></li>
            <li><a href="/expense">Expenses</a></li>
          </ul>
          <% if (!req.session.authenticated) { %>
          <form role="form" class="navbar-form navbar-right" action="/session/create" method="POST">
            <div class="input-group">
              <input name="name" type="text" class="form-control" placeholder="Name" style="width: 50%;">
              <input name="password" type="password" class="form-control" placeholder="Password" style="border-left: 0; width: 50%;">
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Sign in</button>
              </span>
            </div>
          </form>
          <% } else { %>
            <form role="form" class="navbar-form navbar-right" action="/session/destroy" method="GET">
                <button class="btn btn-default" type="submit">Sign out</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
    
    <div class="container">
    <%- body %>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>
