<h2>Create an expense</h2>
<form action="/expense/create" method="POST" class="form-horizontal" role="form" data-toggle="validator">
	<div class="form-group"><div class="col-sm-offset-2 col-sm-10"><%- include ../flash.ejs %></div></div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input name="name" type="text" class="form-control"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Price</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input id="input-price" placeholder="0.00" name="price" type="number" class="form-control" />
				<span class="input-group-addon">&euro;</span>
			</div>
		</div>
	</div>
	
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</div>
	</div>
</form>
<hr>
<a href="/expense" class="btn btn-danger">Back to list</a>
